
<!--============================== header =================================-->
<header>
  <div class="container clearfix">
    <div class="row">
          <div class="span12">
        <div class="navbar navbar_">
              <div class="container"> 
              <%= image_tag  "your_logo_here.png", :style => "postition:relative;top:50px;" %> 

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse_">Menu <span cartlass="icon-bar"></span> </a>
            <div class="nav-collapse nav-collapse_  collapse">
              <ul class="nav sf-menu">
                <li ><a href="/">Home</a></li>
                <li class="sub-menu active"><a class="sf-with-ul">Gallery</a>
                  <ul>
                    <li><a href="/art_gallery">Art Gallery</a></li><hr>
                    <li><a href="/photo_gallery">Photo Gallery</a></li>
                  </ul>
                </li>
                <li><a href="/exhibition">Exhibitions</a></li>
                <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
            </div>
      </div>
        </div>
  </div>
    </header>

<div class="bg-content"> 
      
      <!--============================== content =================================-->
      
  <div id="content">
    <div class="container">
      <div class="row">
        <article class="span12">
              <h3>Art Gallery</h3>
        </article>
        <div class="span12" id="cus_search_form"><br/>
          <%= form_tag search_path, :method => 'get' do %>
            <%= select_tag 'paint_type_id', options_for_select(@paint_type.collect{ |u| [u.type_name, u.id] }, params[:paint_type_id]) %>
            <%= select_tag 'size_id', options_for_select(@size.collect{ |u| [u.size, u.id] }, params[:size_id]) %>
            <%= select_tag 'artist_id', options_for_select(@artist.collect{ |u| [u.name, u.id] }, params[:artist_id]) %>

          <%= submit_tag "Search Now", :id => "cus_btn", :class=> "btn btn-1" , :name => nil %>
          
          <% end %>
        </div> 
        <div class="clear"></div>
<br/><br/>

       <ul class="thumbnails thumbnails-1">
         
          <% @paints.order("created_at DESC").each do |paint| %>
                            <li class="span3">
                <div class="thumbnail thumbnail-1" onMouseOver="show('div<%= paint.id %>')" onMouseOut="hide('div<%= paint.id %>')">
                    <h5>

                        <table style="width:100%">
                            <tr>
                              <td style="width:50%">
                                Price: <%= paint.price rescue "-" %>
                              </td>
                              <td> 
                               <span data-toggle="modal" data-target="#myModal<%= paint.id %>order">
                                  <%= image_tag "order_button.jpg", :id => "ordernow"  %></td> 
                               </span>
                            </tr>
                            <tr>
                        </table>
                      
                     
                    </h5>
                    <span data-toggle="modal" data-target="#myModal<%= paint.id %>">
                        <%= image_tag paint.avatar.url(:medium), :id => "mypaint" %>
                    </span>
                </div><br/>
              
                <div id="div<%= paint.id %>" style="visibility: hidden;">
                   <h5 style="color:white;">
                     <%= paint.title rescue "-" %><br/>
                     <%= paint.paint_type.type_name rescue "-" %>
                   </h5>
                   <p style="color:white;">
                     Published: <%= paint.published_date rescue "-" %>
                     <br/>
                     Size: <%= paint.size.size rescue "-" %> |
                     Color: <%= paint.color rescue "-" %><br/>
                     Created by: <%= paint.artist.name rescue "-" %>
                   </p>
                </div>
              </li>


              <span class="modal fade" id="myModal<%= paint.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <%= image_tag paint.avatar.url, :id => "modelpic" %>
              </span><!-- /.modal -->

          <% end %>
        </ul>
      </div>
        </div>
  </div>
</div>





<!-- Button to trigger modal -->
<% @paints.order("created_at DESC").each do |paint| %>



  <!-- Modal -->
  <div id="myModal<%= paint.title %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>

<% end %>


<!-- Button to trigger modal -->
 <% @paint.order("created_at DESC").each do |paint| %>

  <!-- Modal -->
  <div id="myModal<%= paint.id %>order" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background:white;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">New Order</h3>
    </div>
        

         <div class="modal-body">
         <div id="order_form">
            <%= form_for(@order) do |f| %>
              <% if @order.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                  <ul>
                  <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>


              <div class="field">
                <%= f.text_field :order_details,  :class =>"input-xxlarge", :value => paint.title+paint.item_code %>
              </div>

              <div class="field">
                <%= f.text_field :customer_name,  :class =>"input-xxlarge", :placeholder => "your name" %>
              </div>
              <div class="field">
                <%= f.text_field :contact_email,  :class =>"input-xxlarge", :placeholder => "your email" %>
              </div>
              <div class="field">
                <%= f.text_field :contact_number,  :class =>"input-xxlarge", :placeholder => "your phone" %>
              </div>
              <div class="field">
                <%= f.text_area :contact_address,  :class =>"input-xxlarge",:placeholder => "shipping address", :rows => "3" %>
              </div>
              <div class="field">
                <%= f.text_area :message, :rows => "6" ,:class =>"input-xxlarge" ,:placeholder => "your message"%>
              </div>
      </div>

</div>
<div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>   
      <%= f.submit "Send", :class =>"btn btn-1", :id =>"sent_order"  %>
</div>

<% end %>






  </div>

<% end %>








<script>
  function show(id) {
    document.getElementById(id).style.visibility = "visible";
  }
  function hide(id) {
    document.getElementById(id).style.visibility = "hidden";
  }
</script>


<script type="text/javascript">
    $("#sent_order").on("click",function() {
        alert("Thanks You.Your order is submitted successfully");
    });
</script>