<!DOCTYPE html>
<html>


<head>
  <title>ColorCube ArtGallery</title>
  <meta name="myanmar art" 
      content="wazo myanmar art galleries is an collection of myanmar artisti's artworks">
  <meta name="myanamar painting" 
      content="wazo myanmar art galleries is an collection of myanmar artisti's artworks">

	 <%= stylesheet_link_tag    'bootstrap.css' %>
	 <%= stylesheet_link_tag    'responsive.css' %>
	 <%= stylesheet_link_tag    'style.css' %>
	 <%= stylesheet_link_tag    'touchTouch.css' %>
	 <%= stylesheet_link_tag    'kwicks-slider.css' %>

   <%= javascript_include_tag 'jquery.js' %>
   <%= javascript_include_tag 'holder.js' %>
   <%= javascript_include_tag 'superfish.js' %>
	 <%= javascript_include_tag 'jquery.flexslider-min.js' %>
	 <%= javascript_include_tag 'jquery.kwicks-1.5.1.js' %>
	 <%= javascript_include_tag 'jquery.easing.1.3.js' %>	  
	 <%= javascript_include_tag 'touchTouch.jquery.js' %>


	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='/assets/jquery.preloader.js'></"+"script>");}	</script>

	<script>		
		 jQuery(window).load(function() {	
		 $x = $(window).width();		
	if($x > 1024)
	{			
	jQuery("#content .row").preloader();    }	
		 
     jQuery('.magnifier').touchTouch();			
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  		  }); 
				
	</script>
	

	</head>

	<body>
<div class="spinner"></div>



<%= yield %>

<!--============================== footer =================================-->
<footer>
      <div class="container clearfix">
    <ul class="list-social pull-right">
          <li><a class="icon-1" href="#"></a></li>
          <li><a class="icon-2" href="#"></a></li>
          <li><a class="icon-3" href="#"></a></li>
          <li><a class="icon-4" href="#"></a></li>
        </ul>
    <div class="privacy pull-left">Copyright 2015 H&T techs - Produce an App for Others is Worth Living. Produced by <a href="http://www.hnttechs.com" target="_blank" rel="nofollow">H&T techs</a> </div>
  </div>
    </footer>
 <%= javascript_include_tag "bootstrap.js" %>
</body>
</html>
