<!DOCTYPE html>
<html>
<head>
  <title>WazoGallery</title>
  <%= stylesheet_link_tag    'bootstrap.css' %>
  <%= stylesheet_link_tag    'backend_style.css' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery_ujs.js' %>
  <%= javascript_include_tag 'bootstrap-dropdown.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if admin_signed_in? %>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Dashboard</a>
    <ul class="nav">
      <li><a href="/orders">Orders</a></li>
      <li><a href="/exhibitions">Exhibitions</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artists <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/artists">List of artists</a></li>
                <li><a href="/artists/new">New artist</a></li>
              </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arts<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/paints">Paints</a></li>
                <li><a href="/photos">Photos</a></li>
              </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/sizes">Sizes</a></li>
                <li><a href="/paint_types">Types</a></li>
              </ul>
        </li>



              
                        <li><%= link_to "Account Setting", edit_admin_registration_path %></li>
                        <li><%= link_to "Logout", destroy_admin_session_path, method: :delete  %></li>
        
       
            



    </ul>
  </div>
</div>
<% end %>

    <div class="container">

    		<%= yield %>
    </div>

</body>
</html>


